@page "/goodwe"
@inherits GoodweBase
<h3>Goodwe</h3>

<button class="btn btn-primary" @onclick="GetData">Click me</button>


@if (GoodweData == null || GoodweData.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Output power</th>
                <th>Output voltage</th>
                <th>ETotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in GoodweData)
            {
                <tr>
                    <td>@data.TimeStamp</td>
                    <td>@data.OutputPower</td>
                    <td>@data.OutputVoltage</td>
                    <td>@data.ETotal</td>
                </tr>
            }
        </tbody>
    </table>
}